<header class="rdc-header--main">
  <div class="rdc-header--inner">
   <div class="rdc-header--logo">
  
</div>
    <div class="rdc-header--menu">
  
</div>
    <div class="rdc-header--cart">
  
</div>
</div>
</header>