<header class="rdc-header--main">
  <div class="rdc-header--inner">
   <div class="rdc-header--logo">
  {% render 'rdc-logo',
  logo: section.settings.logo,
  logo_width: section.settings.logo_width,
  logo_position: section.settings.logo_position
%}

</div>
    <div class="rdc-header--menu">
  
</div>
    <div class="rdc-header--cart">
  
</div>
</div>
</header>


{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "rdc-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width (in pixels)",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 150
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "middle-center",
          "label": "Middle center"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
