<header class="r-simp-navbar-main">
      <div class="r-simp-navbar-inner">
        <div
          class="r-simp-navbar-box rdc-d-flex rdc-ai-cen rdc-p-20 rdc-m-p-rel rdc-m-jc-spb"
        >
          <div class="r-simp-navbar-logo-box rdc-w-10 rdc-m-p-abs rdc-d-flex">
            <img class="rdc-w-full rdc-mw-100" src="assets/box.jpg" />
          </div>
          <!---Drawer Box Template--->
          <div
            class="r-simp-navbar-linklist-bg rdc-dm-bg rdc-d-none rdc-w-full rdc-h-full rdc-m-p-fix rdc-bg-black rdc-drawer-button rdc-dm-button"
            data-id="drawer-menu"
          ></div>
          <div
            class="r-simp-navbar-linklist-box rdc-drawer-box rdc-dm-box rdc-m-close rdc-w-80vw rdc-p-20 rdc-m-p-fix"
            data-id="drawer-menu"
          >
            <div
              class="r-simp-navbar-head rdc-dm-box-head rdc-d-flex rdc-m-jc-fle rdc-m-b20 rdc-d-none rdc-m-d-flex"
            >
              <img
                class="rdc-close-icon rdc-close-button rdc-icon-button rdc-drawer-button rdc-dm-button"
                src="/assets/close-icon.png"
                data-id="drawer-menu"
              />
            </div>
            <ul
              class="r-simp-navbar-linklist rdc-d-flex rdc-ai-cen rdc-ls-none rdc-m-d-block"
            >
              <li class="r-simp-navbar-linkitem rdc-p-10">
                <a class="rdc-td-none" href="#">Home</a>
              </li>
              <li class="r-simp-navbar-linkitem rdc-p-10">
                <a class="rdc-td-none" href="#">Shop</a>
              </li>
              <li class="r-simp-navbar-linkitem rdc-p-10">
                <a class="rdc-td-none" href="#">About</a>
              </li>
              <li class="r-simp-navbar-linkitem rdc-p-10">
                <a class="rdc-td-none" href="#">Contact</a>
              </li>
            </ul>
          </div>

          <img
            class="rdc-menu-icon rdc-drawer-button rdc-dm-button rdc-icon-button rdc-d-none rdc-m-d-block"
            data-id="drawer-menu"
            src="/assets/menu-icon.png"
          />
          <!---End of Drawer Box Template--->
          <div class="rdc-w-10 rdc-d-flex rdc-jc-fle">
            <img class="rdc-w-full rdc-mw-100" src="assets/box.jpg" />
          </div>
        </div>
      </div>
</header>